input.addon-radio {
	margin-left:15px;
}

.product-addon, #product-addons-total {
	color:#fff;
}
.product-addon select, .product-addon .input-text {
	color:#000;
}
.addon-has-image{
  position: relative;
  margin-bottom: 20px;
  margin-right: 15px;
  display: inline-block;
  font-size:70%;
}

.addon-has-image input{
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  visibility: hidden;
}

.addon-has-image input ~ label{
  position: relative;
  display: inline-block!important;
  cursor: pointer;
  line-height: 1.4!important;
  min-height: 82px;
  font-size: 2em;
}

.addon-has-image input[type='checkbox'] ~ label:before{
  content: '';
  top: 2px;
  left: 0;
  display: inline-block;
  height: 82px;
  width: 200px;
  box-sizing: border-box;
  border: 7px solid #fff;
  vertical-align: middle;
  transition: .25s ease-in-out;
}

.addon-has-image input[type='checkbox'] ~ label:after{
  content: '';
  position: absolute;
  top: 50%;
  left: 15px;
  box-sizing: border-box;
  width: 0;
  height: 0;
  transform: translateY(-50%);
  transition: all .25s ease-in-out;
}

.addon-has-image input[type='checkbox']:checked ~ label:after{
  width: 170px;
  height: 55px;
  background: rgba( 0,0,0,.5); 
}


/* Colors */

.addon-has-image input[type='checkbox']:checked ~ label:before{
  border-color: rgba(0,0,0,.5);
}
.addon-has-image input[type='checkbox']:checked ~ label:after{
  background-color: rgba(0,0,0,.5);
}